@import "//fonts.googleapis.com/css?family=Open+Sans";
@font-face {
    font-family: 'FantasqueSansMono';
    src: url('../images/FantasqueSansMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*** CSS reset end ***/

ol,
ul {
    list-style: decimal;
}

body {
    background-color: black;
    font: 20px "FantasqueSansMono", "courier";
    color: #fcfcfc;
    width: 99%;
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
}

h1 {
    font-size: 30px;
}

#wrapper {
    background-color: #2b2b2b;
    margin: 0 auto;
    margin-top: 0px;
    width: 1500px;
    height: 100%;
    /*border-radius:10px;*/
    /*box-shadow:0 -2px 2px rgba(34,34,34,0.6);*/
    display: inline-block;
    position: relative;
}

li {
    margin: 10px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.button {
    width: 80px;
    height: 30px;
    font-size: 20px;
}

#nyruta {
    width: 95%;
    background-color: #1b1b1b;
    border: none;
    color: white;
    text-decoration: none;
    display: block;
    font: 30px "FantasqueSansMono", "courier";
    float: left;
    resize: none;
    padding: 1px;
    margin-left: 0.1%;
}

#nybutton {
    width: 4.7%;
    background-color: #1b1b1b;
    border: none;
    /*padding: 7px 0 7px 0;*/
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    font: 30px "FantasqueSansMono", "courier";
    cursor: pointer;
}


/*#cmd {
    font-family: courier;
    font-size: 14px;
    background: black;
    color: #21f838;
    padding: 5px;
    overflow: hidden;
}

#cmd span {
    float: left;
    padding-left: 3px;
    white-space: pre;
}

#cursor {
    float: left;
    width: 5px;
    height: 14px;
    background: #21f838;
}*/

#editruta {
    width: 817px;
    font-size: 20px;
    margin: 10px;
}

#newPos {
    width: 70px;
    font-size: 20px;
}

#removeruta {
    width: 90px;
    margin: 10px;
    font-size: 20px;
}

#password {
    width: 165px;
    margin: 10px;
    font-size: 20px;
}

#rows {
    width: 95%;
    display: inline-block;
}

ol li,
ul li {
    text-align: left;
    /*border-radius:15px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.edit {
    position: absolute;
    margin-left: 10px;
    top: 30px;
}

.edit img {
    height: 25px;
    opacity: 0.4;
    padding-left: 8px;
}

.edit img:hover {
    opacity: 0.9;
}

.lank p a {
    color: gray;
}

.lank p a:hover {
    text-decoration: underline;
    color: #6B6B6B;
}

.rightmenu {
    right: 10px;
}

#storytext {
    text-align: justify;
    margin: 40px;
}

#storytext::first-letter {
    font: 70px "cloister_blacklight", "Open Sans";
}

a li span:hover {
    color: gray;
}

.storyicon {
    position: absolute;
    left: 20px;
    width: 10px;
    height: 10px;
}

.storyicon img {
    margin-top: 8px;
    width: 14px;
    opacity: 0.7;
}

.IPRemoveIcon,
.IPEditIcon {
    position: absolute;
    right: 20px;
    width: 10px;
    height: 10px;
}

.IPEditIcon {
    right: 45px;
}

.IPRemoveIcon img,
.IPEditIcon img {
    width: 25px;
    opacity: 0.4;
}

.IPRemoveIcon img:hover,
.IPEditIcon:hover {
    opacity: 0.8;
}

#errorspace {
    font-weight: bold;
    font-size: 20px;
}

#storytext p {
    text-indent: 30px;
}

#storyedit {
    width: 900px;
    height: 800px;
}


/********************************************************************/

@media screen and (max-width:1000px) {
    body {
        width: 98%;
        margin-left: 0px;
    }
    #wrapper {
        width: 98%;
        margin-left: 2%;
    }
    #rows {
        max-width: 100%;
    }
    .lank {
        top: 140px;
    }
    #dagens {
        max-width: 90%;
    }
    h1 {
        font-size: 1.5em;
        color: blue;
    }
}


/************************************************************************/

#storytext>p>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#dagens {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
    /*border: 3px solid lightgray;*/
    /*border-radius: 25px;*/
    width: 850px;
    display: inline-block;
}

#dagens>ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

#dagens>ol>li {
    margin-top: 0px;
    margin-bottom: 0px;
}

hr {
    background: lightgray;
    border: 0;
    height: 1px;
    margin: 0px;
}

#sidebarLeft {
    float: left;
}

#sidebarRight {
    float: right;
    right: 0px;
}

#sidebarRight,
#sidebarLeft {
    /*background-color: white;*/
    width: 410px;
    height: 500px;
    /*width: 40vh;
    height: 40vh;*/
    margin: 10px;
    position: absolute;
}

#sidebarLeft>img,
#sidebarRight>img {
    width: 100%;
}

#hidden-video {
    display: none;
}

.gayalert {
    position: relative;
}

#bigwrapper {
    max-width: 100%;
    width: 1900px;
    background: gray;
    margin: 0 auto;
}

.MV {
    border-radius: 10px;
    margin-left: 35px;
}

#header {
    background: white;
    margin-top: 0px;
    width: 950px;
    height: 100px;
}

#headerh1 {
    margin: 0px;
    margin-top: 10px;
}

.editRuta {
    vertical-align: middle;
    font: 20px "Open Sans", "sans-serif";
    width: 756px;
    max-width: 756px;
    position: relative;
    left: -70px;
}

.editPos {
    width: 60px;
    left: 20px;
    font: 20px "Open Sans", "sans-serif";
    position: relative;
    left: -72px;
}

#admin {
    float: right;
}

#adminsubmit {
    float: right;
    width: 30px;
    margin-right: 2px;
}

#adminpassword {
    width: 150px;
    font: 20px "Open Sans", "sans-serif";
    float: left;
}