@import "//fonts.googleapis.com/css?family=Open+Sans";
@font-face {
    font-family: 'FantasqueSansMono';
    src: url('../images/FantasqueSansMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* gruvbox colors: */
    --fg0: #EAEAEA;
    --fg2: #fff;
    --fg4: #A048BD;
    --bg1: #2b2b2b;
    --bg2: #504945;
    --cli: #1b1b1b;
    /*--fg0: #fbf1c7;
    --fg2: #d5c4a1;
    --fg4: #a89984;
    --bg1: #3C3836;
    --bg2: #504945;
    --cli: #1b1b1b;*/
    --bg0_h: #1d2021;
    --bg0: #282828;
    --orange: #d65d0e, #fe8019;
    --fg: #ebdbb2;
    --fg1: #ebdbb2;
    --fg3: #bdae93;
    --red: #cc241d, #cc241d;
    --gray: #928374;
    --darkpurple: #3C0080;
}

ol,
ul {
    list-style: decimal;
}

body {
    font: 20px "FantasqueSansMono", "courier";
    color: var(--fg0);
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    background-color: var(--bg1);
}

.mvContent {
    color: var(--fg0);
}

h1 {
    font-size: 30px;
    margin-left: 45px;
    letter-spacing: 6px;
}

#wrapper {
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /*border-radius:10px;*/
    /*box-shadow:0 -2px 2px rgba(34,34,34,0.6);*/
    display: inline-block;
    position: relative;
    overflow: hidden
}

li {
    margin: 10px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    counter-increment: item;
    color: var(--fg4);
}

.button {
    width: 80px;
    height: 30px;
    font-size: 20px;
}

input[type="text"]:focus,
textarea:focus {
    border: none !important;
    outline: 0 none;
}

#cli_input {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 100px);
    background-color: var(--cli);
    color: var(--fg2);
    text-decoration: none;
    font: 30px "FantasqueSansMono", "courier";
    float: left;
    resize: none;
    overflow: hidden;
    min-height: 30px;
    max-height: 150px;
}

#bash {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: var(--cli);
    width: 20px;
    float: left;
    color: var(--fg0);
    font: 30px "FantasqueSansMono", "courier";
    max-height: 150px;
    /*margin-left: 0.1%;*/
}

#cli_button {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    width: 80px;
    background-color: var(--cli);
    color: var(--fg0);
    text-align: center;
    text-decoration: none;
    display: block;
    font: 30px "FantasqueSansMono", "courier";
    height: 31px;
    line-height: 32px;
    max-height: 150px;
    cursor: pointer;
}

#cli_output {
    display: none;
    background-color: var(--cli);
    width: 100%;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    white-space: pre-wrap;
    clear: both;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--fg0);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--fg0);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--fg0);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: var(--fg0);
}

#editruta {
    width: 817px;
    font-size: 20px;
    margin: 10px;
}

#newPos {
    width: 70px;
    font-size: 20px;
}

#removeruta {
    width: 90px;
    margin: 10px;
    font-size: 20px;
}

#password {
    width: 165px;
    margin: 10px;
    font-size: 20px;
}

#rows {
    width: calc(100% - 95px);
    display: inline-block;
    margin-left: 95px;
}

ol li,
ul li {
    text-align: left;
    /*border-radius:15px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
}

a {
    color: var(--fg0);
    text-decoration: none;
}

.edit {
    position: absolute;
    margin-left: 10px;
    top: 30px;
}

.edit img {
    height: 25px;
    opacity: 0.4;
    padding-left: 8px;
}

.edit img:hover {
    opacity: 0.9;
}

.lank p a {
    color: gray;
}

.lank p a:hover {
    text-decoration: underline;
    color: #6B6B6B;
}

.rightmenu {
    right: 10px;
}

#storytext {
    text-align: justify;
    margin: 40px;
}

#storytext::first-letter {
    font: 70px "cloister_blacklight", "Open Sans";
}

a li span:hover {
    color: gray;
}

.storyicon {
    position: absolute;
    left: 20px;
    width: 10px;
    height: 10px;
}

.storyicon img {
    margin-top: 8px;
    width: 14px;
    opacity: 0.7;
}

.IPRemoveIcon,
.IPEditIcon {
    position: absolute;
    right: 20px;
    width: 10px;
    height: 10px;
}

.IPEditIcon {
    right: 45px;
}

.IPRemoveIcon img,
.IPEditIcon img {
    width: 25px;
    opacity: 0.4;
}

.IPRemoveIcon img:hover,
.IPEditIcon:hover {
    opacity: 0.8;
}

#errorspace {
    font-weight: bold;
    font-size: 20px;
}

#storytext p {
    text-indent: 30px;
}

#storyedit {
    width: 900px;
    height: 800px;
}

#ajax_loader {
    display: none;
}


/********************************************************************/

@media screen and (max-width:600px) {
    #cli_input {
        width: calc(100% - 20px)
    }
    #cli_button {
        clear: both;
        width: 100%
    }
    #rows {
        width: calc(100% - 57px);
        margin-left: 57px;
    }
    h1 {
        letter-spacing: 0.2vw;
        font-size: 6.2vw;
        margin-left: 0px;
    }
    #dagens {
        width: 100%!important;
        margin-left: 0px!important;
    }
}


/************************************************************************/

#storytext>p>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#dagens {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
    /*border: 3px solid lightgray;*/
    /*border-radius: 25px;*/
    width: calc(100% - 70px);
    display: inline-block;
    max-width: 95%;
    margin-left: 50px;
}

#dagens>ol {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 55px;
}

#dagens>ol>li {
    margin-top: 0px;
    margin-bottom: 0px;
}

hr {
    background: lightgray;
    border: 0;
    height: 1px;
    margin: 0px;
}

#sidebarLeft {
    float: left;
}

#sidebarRight {
    float: right;
    right: 0px;
}

#sidebarRight,
#sidebarLeft {
    /*background-color: white;*/
    width: 410px;
    height: 500px;
    /*width: 40vh;
    height: 40vh;*/
    margin: 10px;
    position: absolute;
}

#sidebarLeft>img,
#sidebarRight>img {
    width: 100%;
}

#hidden-video {
    display: none;
}

.gayalert {
    position: relative;
}

#bigwrapper {
    max-width: 100%;
    width: 1900px;
    background: gray;
    margin: 0 auto;
}

.MV {
    border-radius: 10px;
}

#header {
    background: white;
    margin-top: 0px;
    width: 950px;
    height: 100px;
}

#headerh1 {
    margin: 0px;
    margin-top: 10px;
}

.editRuta {
    vertical-align: middle;
    font: 20px "Open Sans", "sans-serif";
    width: 756px;
    max-width: 756px;
    position: relative;
    left: -70px;
}

.editPos {
    width: 60px;
    left: 20px;
    font: 20px "Open Sans", "sans-serif";
    position: relative;
    left: -72px;
}

#admin {
    float: right;
}

#adminsubmit {
    float: right;
    width: 30px;
    margin-right: 2px;
}

#adminpassword {
    width: 150px;
    font: 20px "Open Sans", "sans-serif";
    float: left;
}