/* Theme Styles 
 *
 * Styles for setting a custom theme for your site
 ===================================================*/

:root {
    --fg1: #050505;
    --fg1: #7979B7;
    --fg1: #CDCDCD;
    --fg1: #CDCDCD;
    --fg1: #000080;
    --fg1: #2E2EE6;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #FFFFFF;
    --fg1: #555555;
    --fg1: #FFFFFF;
    --fg1: #E6E6E6;
    --fg1: #803D00;
    --fg1: #D2D1AB;
    --fg1: #533F2C;
    --fg1: #FFF800;
    --fg1: #438000;
    --fg1: #A6A458;
    --fg1: #D2BEAB;
    --fg1: #1A1A1A;
    --fg1: #D2D1AB;
    --fg1: #438000;
    --fg1: #A6A458;
    --fg1: #438000;
    --fg1: #438000;
    --fg1: #FFFFFF;
    --fg1: #438000;
    --fg1: #FFFFFF;
    --fg1: #438000;
    --fg1: #FFFFFF;
    --fg1: #438000;
    --fg1: #80A659;
    --fg1: #438000;
    --fg1: #56A5A4;
    --fg1: #A75980;
    --fg1: #FFFFFF;
    --fg1: #0086FF;
    --fg1: #5780A6;
    --fg1: #95A658;
    --fg1: #80A659;
    --fg1: #59A559;
    --fg1: #048000;
    --fg1: #59A559;
    --fg1: #57A57D;
    --fg1: #56A5A4;
    --fg1: #5E6B6B;
    --fg1: #56A5A4;
    --fg1: #00807C;
    --fg1: #56A5A4;
    --fg1: #004380;
    --fg1: #2B5252;
    --fg1: #5780A6;
    --fg1: #0007FF;
    --fg1: #5780A6;
    --fg1: #555F69;
    --fg1: #555F69;
    --fg1: #000000;
    --fg1: #A77D58;
    --fg1: #803D00;
    --fg1: #666666;
    --fg1: #533F2C;
    --fg1: #A7595A;
    --fg1: #291617;
    --fg1: #532D2D;
    --fg1: #800004;
    --fg1: #A7595A;
    --fg1: #A7595A;
    --fg1: #800043;
    --fg1: #800004;
    --fg1: #A75980;
    --fg1: #A75980;
    --fg1: #800043;
    --fg1: #532D40;
    --fg1: #A75980;
    --fg1: #A459A5;
    --fg1: #3C0080;
    --fg1: #A459A5;
    --fg1: #8D809D;
    --fg1: #634683;
    --fg1: #7979B7;
    --fg1: #9899C8;
    --fg1: #3C0080;
    --fg1: #ABACD2;
    --fg1: #333333;
    --fg1: #CDCDCD;
    --fg1: #333333;
    --fg1: #333333;
    --fg1: #666666;
    --fg1: #4C4C4C;
    --fg1: #4C4C4C;
    --fg1: #803D00;
    --fg1: #A77D58;
    --fg1: #803D00;
    --fg1: #800004;
    --fg1: #A7595A;
    --fg1: #004380;
    --fg1: #5780A6;
    --fg1: #3C0080;
    --fg1: #A459A5;
    --fg1: #121212;
    --fg1: #004380;
    --fg1: #666666;
    --fg1: #FFFFFF;
    --fg1: #FFFFFF;
    --fg1: #FFFFFF;
    --fg1: #333333;
    --fg1: #A6A458;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #333333;
    --fg1: #666666;
    --fg1: #5780A6;
    --fg1: #004380;
    --fg1: #56A5A4;
    --fg1: #56A5A4;
    --fg1: #000000;
    --fg1: #999999;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #666666;
    --fg1: #000480;
    --fg1: #575AA6;
    --fg1: #7C58A5;
    --fg1: #A459A5;
    --fg1: #A75980;
    --fg1: #A7595A;
    --fg1: #A77D58;
    --fg1: #333333;
    --fg1: #999999;
    --fg1: #000000;
    --fg1: #FFFFFF;
    --fg1: #0D0D0D;
    --fg1: #999999;
    --fg1: #000000;
    --fg1: #BDABD1;
    --fg1: #FFFFFF;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #000000;
    --fg1: #999999;
    --fg1: #666666;
    --fg1: #000480;
    --fg1: #0008FF;
    --fg1: #FFFFFF;
    --fg1: #180D0C;
    --fg1: #A7595A;
    --fg1: #291616;
    --fg1: #D2BEAB;
    --fg1: #180D12;
    --fg1: #A75980;
    --fg1: #29161F;
    --fg1: #E8D5DE;
    --fg1: #FFFFFF;
    --fg1: #333333;
    --fg1: #000000;
    --fg1: #333333;
    --fg1: #000000;
    --fg1: #333333;
    --fg1: #000000;
    --fg1: #333333;
    --fg1: #333333;
    --fg1: #333333;
    --fg1: #333333;
    --fg1: #CDCDCD;
    --fg1: #000000;
    --fg1: #45815D;
    --fg1: #596B61;
    --fg1: #666666;
    --fg1: #00FFF8;
    --fg1: #56A5A4;
    --fg1: #00FFF8;
    --fg1: #555F69;
    --fg1: #000000;
    --fg1: #000000;
    --fg1: #333333;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #999999;
    --fg1: #333333;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #CCCCCC;
    --fg1: #999999;
    --fg1: #333333;
    --fg1: #A7595A;
    --fg1: #211211;
    --fg1: #0000FF;
    --fg1: #8F8FC3;
    --fg1: #0000FF;
    --fg1: #333333;
    --fg1: #808080;
    --fg1: #262626;
    --fg1: #15281F;
    --fg1: #81BB9E;
    --fg1: #400021;
    --fg1: #BC839F;
    --fg1: #533F2C;
    --fg1: #C3C38F;
    --fg1: #000000;
    --fg1: #FFFFFF;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #FFFFFF;
    --fg1: #FFFFFF;
    --fg1: #000000;
    --fg1: #000000;
    --fg1: #533F2C;
    --fg1: #FFFFFF;
    --fg1: #FFFFFF;
    --fg1: #666666;
    --fg1: #00FFF8;
    --fg1: #192B2A;
    --fg1: #FFFF55;
    --fg1: #533F2C;
    --fg1: #333333;
    --fg1: #4C4C4C;
    --fg1: #4C4C4C;
    --fg1: #FFFFFF;
    --fg1: #345743;
    --fg1: #803D00;
    --fg1: #695F55;
    --fg1: #000000;
    --fg1: #CDCDCD;
    --fg1: #532D40;
    --fg1: #3C0080;
    --fg1: #ABACD2;
    --fg1: #000000;
    --fg1: #666666;
    --fg1: #0A0A0A;
    --fg1: #0E0E0E;
    --fg1: #111111;
    --fg1: #151515;
    --fg1: #191919;
    --fg1: #1C1C1C;
    --fg1: #1F1F1F;
    --fg1: #212121;
    --fg1: #242424;
    --fg1: #666666;
    --fg1: #CDCDCD;
}